<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('表格传值给父页面')" />
</head>
<body class="gray-bg">
     <input type="hidden" id="testItemId">
     <input type="hidden" id="testItemCode">
     <input type="hidden" id="testItemName">
     <div class="container-div">
             <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>项目代码：</label>
                                <input type="text" name="itemCode"/>
                            </li>
                            <li>
                                <label>项目名称：</label>
                                <input type="text" name="itemName"/>
                            </li>
                            <li>
                                <label>样本类型：</label>
                                <select name="sampleType" th:with="type=${@dict.getType('mgmt_sample_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>状态：</label>
                                <select name="status" th:with="type=${@dict.getType('sys_yes_no')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('mgmt:testitems:edit')}]];
        var removeFlag = [[${@permission.hasPermi('mgmt:testitems:remove')}]];
        var sampleTypeDatas = [[${@dict.getType('mgmt_sample_type')}]];
        var statusDatas = [[${@dict.getType('sys_yes_no')}]];
        var delFlagDatas = [[${@dict.getType('sys_del_flag')}]];
        var prefix = ctx + "mgmt/testitems";
        
        $(function() {
            $.extend($.table, {
            	selectedRows: function() {
                    var selectedRows = $("#" + table.options.id).bootstrapTable('getSelections');
                    return selectedRows || [];
                }
            });
        	
            var options = {
                url: prefix + "/list",
                modalName: "检验项目主",
		        showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
                columns: [{
		            // checkbox: true,
		            radio: true
		        },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'itemCode',
                    title: '项目代码'
                },
                {
                    field: 'itemName',
                    title: '项目名称'
                },
                {
                    field: 'testTypeId',
                    title: '检验类型'
                },
                {
                    field: 'testCategory',
                    title: '大类'
                },
                {
                    field: 'sampleType',
                    title: '样本类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(sampleTypeDatas, value);
                    }
                },
                {
                    field: 'unit',
                    title: '单位'
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(statusDatas, value);
                    }
                }
            ]
            };
            $.table.init(options);
        });
        
        /* 添加用户-选择用户-提交(子页面调用父页面形式) */
		function submitHandler(index, layero) {
			// var rows = $.table.selectColumns("id", true);
            // var row = $("#" + table.options.id).bootstrapTable('getSelections')[0];
            var row = $.table.selectedRows()[0];
            
            if ($.common.isEmpty(row)) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }
			debugger;
			$.modal.close();
			// 父页面的方法
			// activeWindow().selectUsers();
			// 父页面的变量
			activeWindow().$('#testItemId').val(row['id']);
			activeWindow().$('#testItemName').val(row['itemName']);
			// window.parent.$('#testItemId').val(row['id']);
			// debugger;
			// window.parent.$('#testItemName').val(row['itemName']);
		}
		/* 添加用户-选择用户-提交(回调形式-父页面调用子页面) */
		function getSelections() {
			return $.table.selectFirstColumns();
		}

		$("#bootstrap-table").on("check.bs.table check-all.bs.table uncheck.bs.table uncheck-all.bs.table", function (e, rowsAfter, rowsBefore) {
            var rows = $.common.equals("uncheck-all", e.type) ? rowsBefore : rowsAfter;
            // var rowIds = $.table.affectedRowIds(rows);
            let testItemId = rows['id'];
            let testItemCode = rows['itemCode'];
            let testItemName = rows['itemName'];
            debugger;
			$('#testItemId').val(testItemId);
			$('#testItemCode').val(testItemCode);
            $("#testItemName").val(testItemName);
            console.info("testItemId:" + testItemId + ",testItemCode:" + testItemCode + ",testItemName:" + testItemName);
        });
    </script>
</body>
</html>