<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('检验项目信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>检验项目代码：</label>
                                <input type="text" name="testItemCode"/>
                            </li>
                            <li>
                                <label>检验项目名称：</label>
                                <input type="text" name="testItemName"/>
                            </li>
                            <li>
                                <label>报告单显示名称：</label>
                                <input type="text" name="reportName"/>
                            </li>
                            <li>
                                <label>检验类型：</label>
                                <input type="text" name="testTypeId"/>
                            </li>
                            <li>
                                <label>大类：</label>
                                <input type="text" name="testCategory"/>
                            </li>
                            <li>
                                <label>样本类型：</label>
                                <select name="sampleType" th:with="type=${@dict.getType('mgmt_sample_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>样本量：</label>
                                <input type="text" name="sampleVolume"/>
                            </li>
                            <li>
                                <label>样本容器：</label>
                                <input type="text" name="sampleContainer"/>
                            </li>
                            <li>
                                <label>参考范围：</label>
                                <input type="text" name="referenceRange"/>
                            </li>
                            <li>
                                <label>单位：</label>
                                <input type="text" name="unit"/>
                            </li>
                            <li>
                                <label>报告时间：</label>
                                <input type="text" name="turnaroundTime"/>
                            </li>
                            <li>
                                <label>状态：</label>
                                <select name="status" th:with="type=${@dict.getType('sys_common_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="mgmt:testitems:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="mgmt:testitems:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="mgmt:testitems:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="mgmt:testitems:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('mgmt:testitems:edit')}]];
        var removeFlag = [[${@permission.hasPermi('mgmt:testitems:remove')}]];
        var sampleTypeDatas = [[${@dict.getType('mgmt_sample_type')}]];
        var statusDatas = [[${@dict.getType('sys_common_status')}]];
        var delFlagDatas = [[${@dict.getType('sys_del_flag')}]];
        var prefix = ctx + "mgmt/testitems";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "检验项目信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'testItemId',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'testItemCode',
                    title: '检验项目代码'
                },
                {
                    field: 'testItemName',
                    title: '检验项目名称'
                },
                {
                    field: 'reportName',
                    title: '报告单显示名称'
                },
                {
                    field: 'testTypeId',
                    title: '检验类型'
                },
                {
                    field: 'testCategory',
                    title: '大类'
                },
                {
                    field: 'sampleType',
                    title: '样本类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(sampleTypeDatas, value);
                    }
                },
                {
                    field: 'sampleVolume',
                    title: '样本量'
                },
                {
                    field: 'sampleContainer',
                    title: '样本容器'
                },
                {
                    field: 'clinicalSignificance',
                    title: '临床意义'
                },
                {
                    field: 'referenceRange',
                    title: '参考范围'
                },
                {
                    field: 'unit',
                    title: '单位'
                },
                {
                    field: 'turnaroundTime',
                    title: '报告时间'
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.testItemId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.testItemId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>